### 1- Load Data with Pandas Package

In [101]:
import pandas as pd

In [102]:
data_frames = pd.read_csv('data/cities.csv')
data_frames.head()

,Reference,LatD,LatM,LatS,NS,LonD,LonM,LonS,EW,City,State
0,320,41,5,59,N,80,39,0,W,Youngstown,OH
1,321,42,52,48,N,97,23,23,W,Yankton,SD
2,322,46,35,59,N,120,30,36,W,Yakima,WA
3,323,42,16,12,N,71,48,0,W,Worcester,MA
4,324,43,37,48,N,89,46,11,W,Wisconsin Dells,WI

### 2- Using DataFrame and Series Basics

In [103]:
people = {
    'first_name': ["Nabil", "Imane", "Yousra", "Samir", "Hamid", "Fatima Zahra", "Nabil"],
    'last_name': ["GAYL", "SALHI", "GAYL", "FADI", "MANSOURI", "OUAFIK", "MOURABITI"],
    'email': ['gaylnabil@gmail.com', 'imanesalhi@gmail.com', 'yousragaylsalhi@gmail.com', 'samir@outlook.com', 'hamid@gmail.com', 'ouafik@gmail.com', 'mourabiti.nabil@outlook.com']
}
people

{'first_name': ['Nabil',
  'Imane',
  'Yousra',
  'Samir',
  'Hamid',
  'Fatima Zahra',
  'Nabil'],
 'last_name': ['GAYL',
  'SALHI',
  'GAYL',
  'FADI',
  'MANSOURI',
  'OUAFIK',
  'MOURABITI'],
 'email': ['gaylnabil@gmail.com',
  'imanesalhi@gmail.com',
  'yousragaylsalhi@gmail.com',
  'samir@outlook.com',
  'hamid@gmail.com',
  'ouafik@gmail.com',
  'mourabiti.nabil@outlook.com']}

In [104]:
df = pd.DataFrame(people)
df

     first_name  last_name                        email
0         Nabil       GAYL          gaylnabil@gmail.com
1         Imane      SALHI         imanesalhi@gmail.com
2        Yousra       GAYL    yousragaylsalhi@gmail.com
3         Samir       FADI            samir@outlook.com
4         Hamid   MANSOURI              hamid@gmail.com
5  Fatima Zahra     OUAFIK             ouafik@gmail.com
6         Nabil  MOURABITI  mourabiti.nabil@outlook.com

In [105]:
df['first_name']

0           Nabil
1           Imane
2          Yousra
3           Samir
4           Hamid
5    Fatima Zahra
6           Nabil
Name: first_name, dtype: object

In [106]:
# Show table of results first_name and email
df[['first_name', 'email']]

     first_name                        email
0         Nabil          gaylnabil@gmail.com
1         Imane         imanesalhi@gmail.com
2        Yousra    yousragaylsalhi@gmail.com
3         Samir            samir@outlook.com
4         Hamid              hamid@gmail.com
5  Fatima Zahra             ouafik@gmail.com
6         Nabil  mourabiti.nabil@outlook.com

In [107]:
# Return all columns names
df.columns

Index(['first_name', 'last_name', 'email'], dtype='object')

In [108]:
# iloc: Integer Location
# iloc[rows_indexes, cols_indexes]
df.iloc[[0, 1, 2], [1, -1]]
# df.iloc[0]['first_name']

  last_name                      email
0      GAYL        gaylnabil@gmail.com
1     SALHI       imanesalhi@gmail.com
2      GAYL  yousragaylsalhi@gmail.com

In [109]:
# Show table with max rows of 4 and 2 last columns
df.iloc[:4, -2:]

  last_name                      email
0      GAYL        gaylnabil@gmail.com
1     SALHI       imanesalhi@gmail.com
2      GAYL  yousragaylsalhi@gmail.com
3      FADI          samir@outlook.com

In [110]:
# loc: Location
# loc[rows_indexes, cols_names]
df.loc[[0, 1], ['first_name', 'last_name']]

  first_name last_name
0      Nabil      GAYL
1      Imane     SALHI

In [111]:
df.loc[:4, ['first_name', 'email']]

  first_name                      email
0      Nabil        gaylnabil@gmail.com
1      Imane       imanesalhi@gmail.com
2     Yousra  yousragaylsalhi@gmail.com
3      Samir          samir@outlook.com
4      Hamid            hamid@gmail.com

In [112]:
df['email'].value_counts()

gaylnabil@gmail.com            1
imanesalhi@gmail.com           1
yousragaylsalhi@gmail.com      1
samir@outlook.com              1
hamid@gmail.com                1
ouafik@gmail.com               1
mourabiti.nabil@outlook.com    1
Name: email, dtype: int64

### 3- Indexes - How to Set, Reset, and Use Indexes

In [113]:
df['email']

0            gaylnabil@gmail.com
1           imanesalhi@gmail.com
2      yousragaylsalhi@gmail.com
3              samir@outlook.com
4                hamid@gmail.com
5               ouafik@gmail.com
6    mourabiti.nabil@outlook.com
Name: email, dtype: object

In [114]:
# Indexing the table with the specified column 'Email'
df.set_index('email', inplace=True)

In [115]:
df.index

Index(['gaylnabil@gmail.com', 'imanesalhi@gmail.com',
       'yousragaylsalhi@gmail.com', 'samir@outlook.com', 'hamid@gmail.com',
       'ouafik@gmail.com', 'mourabiti.nabil@outlook.com'],
      dtype='object', name='email')

In [116]:
df.loc['gaylnabil@gmail.com']

first_name    Nabil
last_name      GAYL
Name: gaylnabil@gmail.com, dtype: object

In [117]:
# Return to normal table without indexes with specified column name
df.reset_index(inplace=True)
df.sort_index(ascending=True)

                         email    first_name  last_name
0          gaylnabil@gmail.com         Nabil       GAYL
1         imanesalhi@gmail.com         Imane      SALHI
2    yousragaylsalhi@gmail.com        Yousra       GAYL
3            samir@outlook.com         Samir       FADI
4              hamid@gmail.com         Hamid   MANSOURI
5             ouafik@gmail.com  Fatima Zahra     OUAFIK
6  mourabiti.nabil@outlook.com         Nabil  MOURABITI

### 4- Filtering - Using Conditionals to Filter Rows and Columns

In [118]:
fn_filter = ((df['first_name'] == "Nabil") | (df['last_name'] == "GAYL"))

In [119]:
df[fn_filter]

                         email first_name  last_name
0          gaylnabil@gmail.com      Nabil       GAYL
2    yousragaylsalhi@gmail.com     Yousra       GAYL
6  mourabiti.nabil@outlook.com      Nabil  MOURABITI

In [120]:
# The same filter results of 'df[fn_filter]'
df.loc[fn_filter]

                         email first_name  last_name
0          gaylnabil@gmail.com      Nabil       GAYL
2    yousragaylsalhi@gmail.com     Yousra       GAYL
6  mourabiti.nabil@outlook.com      Nabil  MOURABITI

In [123]:
# get filter with specified column name and the opposite of 'fn_filter'
df.loc[~fn_filter, ['first_name', 'email']]

     first_name                 email
1         Imane  imanesalhi@gmail.com
3         Samir     samir@outlook.com
4         Hamid       hamid@gmail.com
5  Fatima Zahra      ouafik@gmail.com